<% include inc/head %>
<body class="gameBody">
<script>
    window.currentUserId = '<%= userid %>';
    window.currentPlayerPosition = parseInt('<%= position %>');
</script>
<div class="centralContWrapper">
   <div id="centralCont">

      <div class="skyHelper"></div>
      <div class="ground"></div>
      <div class="bullet"></div>
      <div id="LeftPl" class="archer archer0"></div>
      <div id="RightPl" class="archer archer1"></div>
   </div>
</div>

<div class="block_main">
   <div class="block_invisible_child">
      <div align="center" class="block_player_left">
         <div class="block_name">
            <%= player1.displayName %>
         </div>
         <div class="block_hearts_invisible">
            <div class="block_hearts">
            </div>
            <div class="block_hearts">
            </div>
            <div class="block_hearts">
            </div>
         </div>
      </div>
      <div align="center" class="block_wind">
				<div id="arrow00" class="empty_space_for_arrow"></div>
				<div id="arrow01" class="empty_space_for_arrow"></div>
				<div id="arrow02" class="empty_space_for_arrow"></div>
				<div id="arrow03" class="empty_space_for_arrow"></div>
				<div id="arrow04" class="empty_space_for_arrow"></div>
				<div id="arrow05" class="empty_space_for_arrow"></div>
				<div id="arrow06" class="empty_space_for_arrow"></div>
				<div id="arrow07" class="empty_space_for_arrow"></div>
				<div id="arrow08" class="empty_space_for_arrow"></div>
				<div id="arrow09" class="empty_space_for_arrow"></div>
				<div id="arrow10" class="empty_space_for_arrow"></div>
				<div id="arrow11" class="empty_space_for_arrow"></div>
				<div id="arrow12" class="empty_space_for_arrow"></div>
				<div id="arrow13" class="empty_space_for_arrow"></div>
				<div id="arrow14" class="empty_space_for_arrow"></div>
				<div id="arrow15" class="empty_space_for_arrow"></div>
				<div id="arrow16" class="empty_space_for_arrow"></div>
				<div id="arrow17" class="empty_space_for_arrow"></div>
				<div id="arrow18" class="empty_space_for_arrow"></div>
				<div id="arrow19" class="empty_space_for_arrow"></div>
			</div>
      <div align="center" class="block_player_right">
         <div class="block_name">
            <%= player2.displayName %>
         </div>
         <div class="block_hearts_invisible">
            <div class="block_hearts">
            </div>
            <div class="block_hearts">
            </div>
            <div class="block_hearts">
            </div>
         </div>
      </div>
   </div>
</div>
<div class="leftScrollBox" onmouseover="MousOverLeft(event)" onmouseout="ScrollBoxMouseOut()"></div>
<div class="rightScrollBox" onmouseover="MousOverRight(event)" onmouseout="ScrollBoxMouseOut()"></div>
<audio src="/mp3/jp.mp3" autoplay loop></audio>
</body>
<% include inc/foot %>
<script src="/js/pWorld.js" type="application/javascript"></script>
<script src="/js/app.js" type="application/javascript"></script>