html, body{
   height: 100%;
   min-height: 100%;
   position: relative;
}
body.gameBody{
   width: 3000px;
   padding: 0;
   margin: 0;
   background-color: #d0f4f7;
   min-height: 600px;
}

#centralCont {
   position: absolute;
   width: 3000px;
   height: 600px;
   margin-top: -300px;
}
#containerForArchers {
   position: absolute;
   width: 100%;
   height: 100px;
   background: #fff;
   bottom: 5%;
}
#LeftPl {
   width: 70px;
   height: 100px;
   position: absolute;
   background: url("/img/p1.png") 2px 8px no-repeat;
}
#LeftPl.withBomb{
   background-image: url("/img/p1_bomb.png");
}
#RightPl {
   width: 70px;
   height: 100px;
   position: absolute;
   background: url("/img/p2.png") 2px 8px no-repeat;
}
#RightPl.withBomb{
   background-image: url("/img/p2_bomb.png");
}

.block_main {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   bottom: 0px;
   right: 0px;
   position: fixed;
}
.block_invisible_child {
   width: 100%;
   height: 30%;
   top: 2%;
   position: absolute;
}
.block_player_left {
   position: absolute;
   width: 15%;
   height: 100%;
}
.block_name {
   position: absolute;
   width: 100%;
   height: 50%;
   top: 3%
}
.block_hearts_invisible {
   position: absolute;
   width: 100%;
   height: 30%;
   top: 20%;
}
.block_hearts {
   float:left;
   margin-left: 2%;
   position: relative;
   width: 30%;
   height: 100%;
   background: #800000;
}
.block_wind {
   position: absolute;
   width: 20%;
   height: 50%;
   border: solid 1px black;
   top: 2%;
   left: 40%;
   background: #0ff;
}
.block_player_right {
   position: absolute;
   width: 15%;
   height: 100%;
   right: 0%;
}
.centralContWrapper{
   position: relative;
   top: 50%;
   height: 50%;
   background: url("/img/grassCenter.png");
}
.ground{
   position: absolute;
   height: 30px;
   background: url("/img/grassHalfMid.png");
   bottom: 0;
   width: 100%;
}
.skyHelper{
   position: absolute;
   width: 100%;
   height: 50%;
   bottom: 30px;
   background-color: #d0f4f7;
}
.bullet{
   display: none;
   position: absolute;
   background: url("/img/bomb.png") no-repeat;
   height: 30px;
   width: 30px;
   left: 100px;
   top: 200px;
}
.bullet.bulletVisible{
   display: block;
}
.leftScrollBox
{
    position:fixed;
    left:0;
    top:0;
    width:5%;
    height:100%;
    z-index:100;
}

.rightScrollBox
{
    position:fixed;
    right:0;
    top:0;
    width:5%;
    height:100%;
    z-index:100;
}